In [1]:
# Dependencies and Setup
import requests
import json
import pandas as pd
import os

In [3]:
city_list = [
    '3000002244',
    '',
    '3000002241',
    '3000001438',
    '3000002228',
    '3000002117',
    '3000002270',
    '3000002028',
    '3000001750',
    '3000001942',
    '3000002277',
    '3000002049',
    '3000002060',
    '3000002273',
    '3000002250',
]

# Initialize an empty list to store DataFrames
dfs = []

# Loop through each city in the list
for city in city_list:
    url = "https://priceline-com-provider.p.rapidapi.com/v1/hotels/search"
    
    querystring = {"date_checkout":"2023-10-19","sort_order":"PRICE","location_id": city_list,"date_checkin":"2023-10-18","amenities_ids":"FINTRNT,FBRKFST","rooms_number":"1","star_rating_ids":"3.0,3.5,4.0,4.5,5.0"}

    headers = {
        "X-RapidAPI-Key": "",
        "X-RapidAPI-Host": "priceline-com-provider.p.rapidapi.com"
    }
    
    response = requests.get(url, headers=headers, params=querystring)

    if response.status_code == 200:

        # Load the JSON response data into a list
        list_data = json.loads(response.text)
        
        # Create a DataFrame for the current city and append it to the list
        hotel_data = pd.DataFrame(list_data)
        dfs.append(hotel_data)

        
        # Get the JSON data
        json_data = response.json()
        
        # Use json.dumps with 'indent' parameter to pretty-print the JSON data
        json_data = json.dumps(response.json(), indent=4)
        
        print(f"Hotel data for {city}:")
        print(json_data)
    else:
        print(f"Failed to get data for {city}. Status code:", response.status_code)

Failed to get data for 3000002244. Status code: 401
Failed to get data for 3000001947. Status code: 429
Failed to get data for 3000002241. Status code: 429
Failed to get data for 3000001438. Status code: 429
Failed to get data for 3000002228. Status code: 429
Failed to get data for 3000002117. Status code: 429
Failed to get data for 3000002270. Status code: 429
Failed to get data for 3000002028. Status code: 429
Failed to get data for 3000001750. Status code: 429
Failed to get data for 3000001942. Status code: 429
Failed to get data for 3000002277. Status code: 429
Failed to get data for 3000002049. Status code: 429
Failed to get data for 3000002060. Status code: 429
Failed to get data for 3000002273. Status code: 429
Failed to get data for 3000002250. Status code: 429

In [9]:

dictionary_data = json.loads(response.text)

hotel_data = pd.DataFrame(dictionary_data)

hotel_data.head()

,itemName,id,cityID,type,lat,lon,proximity,savedTravelStartDate,savedTravelEndDate,cityName,...,poiCategoryTypeId,poiCategoryName,poiID,seType,gmtOffset,entered,highlightedName,displayLine1,displayLine2,fromSavedSearch
0,"Houston, TX",3000021312,3000021312,CITY,29.763100,-95.363100,0.0,None,None,Houston,...,0,None,None,None,-5.0,united states,None,Houston,Texas,False
1,"Las Vegas, NV",3000015284,3000015284,CITY,36.175000,-115.136000,0.0,None,None,Las Vegas,...,0,None,None,None,-7.0,united states,None,Las Vegas,Nevada,False
2,"Orlando, FL",3000003349,3000003349,CITY,28.538100,-81.379400,0.0,None,None,Orlando,...,0,None,None,None,-4.0,united states,None,Orlando,Florida,False
3,"New York, NY",3000016152,3000016152,CITY,40.759378,-73.985131,0.0,None,None,New York,...,0,None,None,None,-4.0,united states,None,New York,New York,False
4,"San Antonio, TX",3000021763,3000021763,CITY,29.423900,-98.493300,0.0,None,None,San Antonio,...,0,None,None,None,-5.0,united states,None,San Antonio,Texas,False

In [10]:
hotel_data.columns

Index(['itemName', 'id', 'cityID', 'type', 'lat', 'lon', 'proximity',
       'savedTravelStartDate', 'savedTravelEndDate', 'cityName', 'stateCode',
       'provinceName', 'score', 'radius', 'rank', 'rank2', 'globalScore',
       'globalScoreReducedCityBoost', 'globalScoreWOHotelCountNormalize',
       'country', 'address', 'zip', 'countryName', 'countryCode',
       'poiCategoryTypeId', 'poiCategoryName', 'poiID', 'seType', 'gmtOffset',
       'entered', 'highlightedName', 'displayLine1', 'displayLine2',
       'fromSavedSearch'],
      dtype='object')

In [18]:
hotel_data['city'] = hotel_data['itemName'].str.split(',').str[0]
hotel_data['state'] = hotel_data['itemName'].str.split(',').str[1]

column_to_select = ['cityID',
                    'city',
                    'state',
                    'lat',
                    'lon',
                    'score', 
                    'rank', 
                    'rank2', 
                    'globalScore',
                    'country', 
                    'countryName', 
                    'countryCode',
                    'displayLine1',
                    'displayLine2'
                    ]

hotel_data_select = hotel_data[column_to_select]

hotel_data_select.head(20)

,cityID,city,state,lat,lon,score,rank,rank2,globalScore,country,countryName,countryCode,displayLine1,displayLine2
0,3000021312,Houston,TX,29.763100,-95.363100,203149.08,66.034960,93.023735,100.000000,US,UNITED STATES,US,Houston,Texas
1,3000015284,Las Vegas,NV,36.175000,-115.136000,203129.36,100.000000,100.000000,99.954090,US,UNITED STATES,US,Las Vegas,Nevada
2,3000003349,Orlando,FL,28.538100,-81.379400,202687.66,82.260895,97.879250,98.932590,US,UNITED STATES,US,Orlando,Florida
3,3000016152,New York,NY,40.759378,-73.985131,202481.80,88.943530,96.242455,98.459990,US,UNITED STATES,US,New York,New York
4,3000021763,San Antonio,TX,29.423900,-98.493300,201948.83,62.747860,92.443672,97.246864,US,UNITED STATES,US,San Antonio,Texas
5,3000003496,Atlanta,GA,33.748900,-84.388100,201878.60,71.758880,93.998795,97.088150,US,UNITED STATES,US,Atlanta,Georgia
6,3000021312,Ellington Airport (EFD),TX,29.649993,-95.283340,193025.95,12.332901,43.747379,79.000000,US,UNITED STATES,US,Houston - Ellington Airport (EFD),Texas
7,3000021312,William P. Hobby Airport (HOU),TX,29.645180,-95.278641,193025.95,33.206370,76.554398,79.000000,US,UNITED STATES,US,Houston - William P. Hobby Airport (HOU),Texas
8,3000021312,George Bush Intercontinental Airport (IAH),TX,29.986720,-95.342240,193025.95,40.247612,79.824089,79.000000,US,UNITED STATES,US,Houston - George Bush Intercontinental Airport...,Texas
9,3000015284,Harry Reid Intl Airport (LAS),NV,36.081673,-115.154891,193008.44,35.791367,80.386398,78.967730,US,UNITED STATES,US,Las Vegas - Harry Reid Intl Airport (LAS),Nevada
10,3000015284,North Las Vegas Airport (VGT),NV,36.183316,-115.133291,193008.44,20.259972,64.596672,78.967730,US,UNITED STATES,US,Las Vegas - North Las Vegas Airport (VGT),Nevada
11,3000015284,Henderson Executive Airport (HSH),NV,35.974416,-115.135411,193008.44,0.500000,55.484386,78.967730,US,UNITED STATES,US,Las Vegas - Henderson Executive Airport (HSH),Nevada
12,3000016595,United States Military Academy - West Point,NY,41.377613,-73.963524,164305.83,16.673111,5.935693,32.285240,US,UNITED STATES,US,United States Military Academy,"West Point, New York"
13,3000012642,United States Sheep Experiment Station - Lima,MT,44.566590,-111.584130,164302.53,12.555779,5.929121,32.282710,US,UNITED STATES,US,United States Sheep Experiment Station,"Lima, Montana"
14,3000003032,United States Department of the Interior Museu...,DC,38.882330,-77.042750,164302.53,12.555779,5.929121,32.282710,US,UNITED STATES,US,United States Department of the Interior Museum,"Washington, District Of Columbia"
15,3000002921,United States Coast Guard Academy - New London,CT,41.370531,-72.103396,164302.10,12.106464,5.928277,32.282387,US,UNITED STATES,US,United States Coast Guard Academy,"New London, Connecticut"
16,3000021763,United States Army Medical Department Museum -...,TX,29.461340,-98.438070,164302.02,12.017747,5.928106,32.282322,US,UNITED STATES,US,United States Army Medical Department Museum,"San Antonio, Texas"
17,3000002781,United States Air Force Academy,Cadet Area - Usaf Academy,39.008333,-104.890417,164301.84,11.836448,5.927754,32.282185,US,UNITED STATES,US,"United States Air Force Academy, Cadet Area","Usaf Academy, Colorado"
18,3000007866,Heart Of Highlands 3br Loft - Louisville,KY,38.233100,-85.711700,152216.48,0.500000,5.854935,30.000000,US,UNITED STATES,US,Heart Of Highlands 3br Loft,"Louisville, Kentucky"
19,3000014398,Parker's Motel - Lincoln,NH,44.089853,-71.683289,152216.48,11.862453,47.121918,30.000000,US,UNITED STATES,US,Parker's Motel,"Lincoln, New Hampshire"

In [19]:
hotel_data_select.dtypes

cityID           object
city             object
state            object
lat             float64
lon             float64
score           float64
rank            float64
rank2           float64
globalScore     float64
country          object
countryName      object
countryCode      object
displayLine1     object
displayLine2     object
dtype: object

In [20]:
null_counts = hotel_data_select.isnull().sum()

print(null_counts)

cityID          0
city            0
state           0
lat             0
lon             0
score           0
rank            0
rank2           0
globalScore     0
country         0
countryName     0
countryCode     0
displayLine1    0
displayLine2    0
dtype: int64

In [ ]:
# import os

# # Create a folder named "data" if it doesn't exist
# if not os.path.exists("data"):
#     os.mkdir("data")

# # Save DataFrame to a CSV file inside the "data" folder
# file_path = os.path.join("data", "hotel.csv")
# hotel_data_clean.to_csv(file_path, index=False)

# print("DataFrame saved to 'data/hotel.csv' file.")